In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
democlient=MongoClient()
myclient=MongoClient('localhost',27017)

In [12]:
#creating data bases

In [3]:
print(myclient.list_database_names())

['admin', 'config', 'demo', 'local']

In [4]:
mydb = myclient['demo']
mycoll=mydb['dtable']

In [24]:
mylist = [
  { "id": 1, "name": "John", "address": "Highway 37"},
  { "id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "id": 3, "name": "Amy", "address": "Apple st 652"},
  { "id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "id": 5, "name": "Michael", "address": "Valley 345"},
  { "id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "id": 8, "name": "Richard", "address": "Sky st 331"},
  { "id": 9, "name": "Susan", "address": "One way 98"},
  { "id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "id": 12, "name": "William", "address": "Central st 954"},
  { "id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "id": 14, "name": "Viola", "address": "Sideway 1633"}
]

In [6]:
x = mycoll.insert_many(mylist)

In [7]:
dblist = myclient.list_database_names()

if input('Enter DB') in dblist:
    print("the database exists.")
else:
    print("Not Present")

Enter DBdemo
the database exists.

In [10]:
print(dblist)

['admin', 'config', 'demo', 'local']

In [11]:
# finding data

In [13]:
x = mycoll.find_one()
print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}

In [14]:
for x in mycoll.find():
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351f'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803520'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803521'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803522'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803523'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803524'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803525'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803526'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803527'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803528'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803529'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352a'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352b'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab1'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab2'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab3'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab4'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab5'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab6'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab7'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab8'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab9'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaaba'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabb'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabc'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabd'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabe'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [16]:
myquery = {"name":"John"}

mydoc = mycoll.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab1'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}

In [17]:
myquery ={'name':{'$regex':'^S'}}

mydoc = mycoll.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d803523'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803526'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab6'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab9'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}

In [18]:
myquery = {"name":"Betty"}

mydoc = mycoll.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d803524'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab7'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}

In [19]:
#sorting

In [23]:
#assending
mydoc=mycoll.find().sort('name',1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d803520'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab3'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803528'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabb'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803524'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab7'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352a'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabd'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803521'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab4'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab1'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803522'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab5'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351f'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab2'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803525'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab8'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803523'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab6'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803526'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab9'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803527'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaaba'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352b'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabe'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803529'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabc'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}

In [22]:
#desending
mydoc=mycoll.find().sort('name',-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5ed1fc13f0d76e8c1d803529'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabc'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352b'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabe'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803527'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaaba'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803526'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab9'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803523'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab6'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803525'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab8'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351f'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab2'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803522'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab5'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab1'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803521'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab4'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352a'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabd'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803524'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab7'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803528'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabb'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803520'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab3'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [25]:
#delete operation

In [31]:
#myquery = {'name':'Sandy'}
myquery={'address':{'$regex':'^O'}}
mydoc = mycoll.delete_many(myquery)

for y in mycoll.find():
    print(y)

{'_id': ObjectId('5ed1fc13f0d76e8c1d80351e'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80351f'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803520'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803521'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803522'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803524'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803525'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803527'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803528'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d803529'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352a'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fc13f0d76e8c1d80352b'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab1'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab2'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab3'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab4'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab5'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab7'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaab8'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaaba'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabb'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabc'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabd'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed1fe66e4da95f8c1bdaabe'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [61]:
import sys
import pandas as pd
import pymongo
import json
import os


def import_content(filepath):
    mng_client = pymongo.MongoClient('localhost', 27017)
    mng_db = mng_client['mongodb_name'] # Replace mongo db name
    collection_name = 'collection_name' # Replace mongo db collection name
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname(os.path.abspath("__file__"))
    file_res = os.path.join(cdir, filepath)

    data = pd.read_csv(file_res)
    data_json = json.loads(data.to_json(orient='records'))
    db_cm.remove()
    db_cm.insert(data_json)

In [62]:
if __name__ == "__main__":
    filepath = 'pred_val.csv'  # pass csv file path
    import_content(filepath)

C:\Users\Modabbir Tarique\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
C:\Users\Modabbir Tarique\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

In [ ]:
x = collection.find

In [41]:
!pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0

In [20]:
data = pd.read_csv("pred_val.csv")
data.head()

   Unnamed: 0        R
0           0  BigData
1           1  BigData
2           2       ML
3           3  ReactJs
4           4  BigData

In [21]:
data.drop('Unnamed: 0',1,inplace=True)

In [22]:
client = pymongo.MongoClient("mongodb+srv://modabbir24:onlyIIT#2018@cluster0-eergj.mongodb.net/test?retryWrites=true&w=majority")

In [23]:
db=client["Projects"]

In [24]:
db.collection_names()

C:\Users\Modabbir Tarique\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['Mongo_base', 'python_test']

In [25]:
collection=db["python_test"]

In [27]:
for doc in x:
    print(x)

<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>
<pymongo.cursor.Cursor object at 0x000001D17A264B00>

In [28]:
data.reset_index(inplace=True)
data_dict = data.to_dict("records")

In [29]:
# Insert collection
collection.insert_many(data_dict)

In [30]:
collection.find_one()

{'_id': ObjectId('5ed248003b34ecc8d8fdf923'),
 'index': 0,
 'Unnamed: 0': 0,
 'R': 'BigData'}

In [46]:
myquery = {'Unnamed: 0':{'$in':[0,1,2,3,4,5,6,7,8]}}
mydoc = collection.delete_many(myquery)
for y in collection.find():
    print(y)

{'_id': ObjectId('5ed251a95d5e82a3eceab371'), 'index': 0, 'R': 'BigData'}
{'_id': ObjectId('5ed251a95d5e82a3eceab372'), 'index': 1, 'R': 'BigData'}
{'_id': ObjectId('5ed251a95d5e82a3eceab373'), 'index': 2, 'R': 'ML'}
{'_id': ObjectId('5ed251a95d5e82a3eceab374'), 'index': 3, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251a95d5e82a3eceab375'), 'index': 4, 'R': 'BigData'}
{'_id': ObjectId('5ed251a95d5e82a3eceab376'), 'index': 5, 'R': 'BigData'}
{'_id': ObjectId('5ed251a95d5e82a3eceab377'), 'index': 6, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251a95d5e82a3eceab378'), 'index': 7, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251a95d5e82a3eceab379'), 'index': 8, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251e45d5e82a3eceab37b'), 'index': 0, 'R': 'BigData'}
{'_id': ObjectId('5ed251e45d5e82a3eceab37c'), 'index': 1, 'R': 'BigData'}
{'_id': ObjectId('5ed251e45d5e82a3eceab37d'), 'index': 2, 'R': 'ML'}
{'_id': ObjectId('5ed251e45d5e82a3eceab37e'), 'index': 3, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251e45d5e82a3eceab37f'), 'index': 4, 'R': 'BigData'}
{'_id': ObjectId('5ed251e45d5e82a3eceab380'), 'index': 5, 'R': 'BigData'}
{'_id': ObjectId('5ed251e45d5e82a3eceab381'), 'index': 6, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251e45d5e82a3eceab382'), 'index': 7, 'R': 'ReactJs'}
{'_id': ObjectId('5ed251e45d5e82a3eceab383'), 'index': 8, 'R': 'ReactJs'}

In [52]:
db.removeDuplicatesDemo.aggregate([
    { "$project": {
       "InstructorName":1,
       "InstructorAge" :1,
       "InstructorSubject" :{ "$setUnion": [ "$InstructorSubject", [] ] }
    }}
]).pretty()

NameError: name 'unique' is not defined

In [60]:
for y in collection.find():
    print(y)

ServerSelectionTimeoutError: connection closed,connection closed,connection closed